<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
    <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">スコア ランキング</h2>
  </div>

  <div class="mt-8 grid sm:grid-cols-1 lg:grid-cols-2 gap-2 lg:items-center">
    <div class="flex flex-col border-4 border-double border-blue-500 text-center rounded-xl p-8">
      <h4 class="font-bold text-2xl text-gray-800 mb-4">～ 初級 ～</h4>

      <div class="overflow-auto bg-cyan-400/70">
        <table class="table font-bold">
          <thead>
            <tr>
              <th></th>
              <th class="text-lg text-gray-800">ユーザー</th>
              <th class="text-lg text-gray-800">テーマ</th>
              <th class="text-lg text-gray-800">スコア</th>
            </tr>
          </thead>
          <tbody>
            <% @easy_scores.each_with_index do |chat_session, index| %>
              <tr>
                <td class="font-bold text-2xl"><%= index + 1 %><span>位</span></td>
                <td class="font-bold text-2xl"><%= chat_session.user_name %></td>
                <td class="font-bold text-2xl"><%= chat_session.theme %></td>
                <td class="font-bold text-2xl"><%= chat_session.score_display %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>      
    </div>

    <div class="flex flex-col border-4 border-double border-green-500 text-center rounded-xl p-8">
      <h4 class="font-bold text-2xl text-gray-800 mb-4">～ 中級 ～</h4>

      <div class="overflow-auto bg-emerald-400/70">
        <table class="table font-bold">
          <thead>
            <tr>
              <th></th>
              <th class="text-lg text-gray-800">ユーザー</th>
              <th class="text-lg text-gray-800">テーマ</th>
              <th class="text-lg text-gray-800">スコア</th>
            </tr>
          </thead>
          <tbody>
            <% @normal_scores.each_with_index do |chat_session, index| %>
              <tr>
                <td class="font-bold text-2xl"><%= index + 1 %><span>位</span></td>
                <td class="font-bold text-2xl"><%= chat_session.user_name %></td>
                <td class="font-bold text-2xl"><%= chat_session.theme %></td>
                <td class="font-bold text-2xl"><%= chat_session.score_display %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="flex flex-col border-4 border-double border-orange-500 text-center rounded-xl p-8">
      <h4 class="font-bold text-2xl text-gray-800 mb-4">～ 上級 ～</h4>

      <div class="overflow-auto bg-amber-400/70">
        <table class="table font-bold">
          <thead>
            <tr>
              <th></th>
              <th class="text-lg text-gray-800">ユーザー</th>
              <th class="text-lg text-gray-800">テーマ</th>
              <th class="text-lg text-gray-800">スコア</th>
            </tr>
          </thead>
          <tbody>
            <% @hard_scores.each_with_index do |chat_session, index| %>
              <tr>
                <td class="font-bold text-2xl"><%= index + 1 %><span>位</span></td>
                <td class="font-bold text-2xl"><%= chat_session.user_name %></td>
                <td class="font-bold text-2xl"><%= chat_session.theme %></td>
                <td class="font-bold text-2xl"><%= chat_session.score_display %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="flex flex-col border-4 border-double border-zinc-500 text-center rounded-xl p-8">
      <h4 class="font-bold text-2xl text-gray-800 mb-4">～ フリーテーマ ～</h4>

      <div class="overflow-auto bg-slate-400/70">
        <table class="table font-bold">
          <thead>
            <tr>
              <th></th>
              <th class="text-lg text-gray-800">ユーザー</th>
              <th class="text-lg text-gray-800">テーマ</th>
              <th class="text-lg text-gray-800">スコア</th>
            </tr>
          </thead>
          <tbody>
            <% @free_scores.each_with_index do |chat_session, index| %>
              <tr>
                <td class="font-bold text-2xl"><%= index + 1 %><span>位</span></td>
                <td class="font-bold text-2xl"><%= chat_session.user_name %></td>
                <td class="font-bold text-2xl"><%= chat_session.theme %></td>
                <td class="font-bold text-2xl"><%= chat_session.score_display %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class="flex justify-center mt-8">
      <%= link_to "ホームに戻る", homes_path, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
</div>
