<div class="container flex flex-col justify-center min-h-screen relative sm:flex-col">
  <div class="text-center mx-auto items-center">
    <h2 class="text-2xl font-bold mt-4 mb-4">チャット終了</h2>
      <div class="relative flex flex-col items-center justify-center">
        <%= image_tag("score.png", class:"mx-auto w-3/5") %>
          <% if @score.present? %>
            <p class="text-3xl font-bold absolute mb-16 translate-x-24 text-center">今回のスコアは100点満点のうち <br><span class="text-red-500"><%= @score %></span>点でした！</br></p>
          <% else %>
            <p class="text-3xl font-bold absolute mb-16 translate-x-24 text-center">スコアが取得できませんでした</p>
          <% end %>
        <div class="mt-4 absolute top-2/3 left-2/4">
          <%= link_to "ホームに戻る", homes_path, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
          <%= link_to "ランキング画面へ", scores_index_path, class: "bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded" %>
        </div>
        <div class="mt-4">
          <a href="https://twitter.com/intent/tweet?text=<%= URI.encode_www_form_component(@score_message) %>&url=<%= root_url %>" class="bg-stone-400 hover:bg-stone-500 font-bold py-2 px-4 rounded" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-x-twitter"></i>
            でシェア
          </a>
        </div>
      </div>
  </div>
</div>
